nav{
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  border-radius: 3rem;
  gap: 0.8rem;
  display: flex;
  backdrop-filter: blur(3px);
}

nav a{
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover{
  background: rgba(0, 0, 0, 0.3);
}

nav a.active{
  background: var(--color-primary);
  color: var(--color-white);
}
